$orange-basic: rgb(253, 144, 19);
$orange-pale: hsl(25, 100%, 94%);

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  img {
    display:block;
    width: 100vw;
    height: 50%;
  }
  font-size: 15px;
  line-height: 23px;
  font-weight: 400;
  color: hsl(219, 9%, 45%);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
}
.header-left,
.header-right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 65px;
}

#overlay {
  position: fixed;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#overlay.active {
  pointer-events: all;
  opacity: 0.5;
  z-index: 2;
}
#overlay.active2 {
  pointer-events: all;
  opacity: 0.75;
  z-index: 2;
}
.toggledMenu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: white;
  width: 60vw;
  height: 100vh;
  padding: 25px;
  img {
    padding-top: 5px;
    height: 15px;
    width: 4vw;
  }
}

.navigation__items {
  padding-top: 50px;
}
.navigation__item {
  font-weight: 700;
  color: black;
  padding: 10px 0px;
  font-size: 16px;
}
.navigation__item:hover,
.navigation__item:active {
  color: $orange-basic;
  cursor: pointer;
}

.product img {
  height: 70vw;
  max-height: 450px;
}

.gallery_leftBtn img,
.gallery_rightBtn img {
  width: 10px;
  height: 12px;
  z-index: 1;
  position: absolute;
  background-color: white;
  border-radius: 24px;
  padding: 15px;
}
.gallery_leftBtn img {
  left: 10px;
  top: 200px;
}
.gallery_rightBtn img {
  right: 10px;
  top: 200px;
}

#menuBtn {
  img {
    padding-top: 5px;
    padding-right: 8px;
    padding-left: 10px;
    height: 15px;
    width: 4vw;
  }
}

#company-name {
  width: 50vw;
  max-width: 250px;
  img {
    height: 20px;
    width: 40vw;
    max-width: 200px;
  }
}

.cart {
  img {
    height: 20px;
    padding-right: 20px;
    max-width: 36px;
  }
}
.cartBtn {
  position: relative;
}
.cart-info {
  display: none;
  position: absolute;
  

  height: 26vh;
  background-color: white;
  border-radius: 12px;
  padding: 10px 0;
  top: 75px;
  left: 10px;
  right: 10px;
  overflow: auto;
  z-index: 2;
}
.cart-info__list {
  padding: 20px;
  img {
    height: 20px;
    padding: 0;
    max-width: 64px;
  }
}

.cart-info__list ul {
  margin: 0;
  padding: 0;
}

.cart-info__list ul li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;

  margin: 10px 5px;
}
.list-item__text {
  //cart__item-text
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  letter-spacing: 1px;
  margin: 0 10px;
}

.text__product-name {
  width: 100%;
}
.text__product-price-info {
  margin-right: 5px;
}
.text__product-price-total {
  color: black;
  font-weight: 700;
}

.cart-info__list ul li img {
  width: 50px;
  height: 50px;
  border-radius: 12px;
}
.cart-info__list ul li .list-item__deleteBtn img {
  width: 15px;
  height: 15px;
  border-radius: 0;
}

.cart-info__checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $orange-basic;
  color: white;
  font-weight: 700;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}

.cart-info__title {
  padding: 10px 20px;
  font-weight: 700;
  color: black;
  padding-bottom: 20px;
  border-bottom-style: solid;
  border-bottom-color: rgb(230, 222, 222);
  border-bottom-width: 1px;
}

.cart-quantity {
  display: none;
  // visibility: hidden;
  position: absolute;
  top: -8px;
  right: 14px;
  font-size: 11px;
  line-height: 16px;
  padding: 0 7px;
  font-weight: 700;
  z-index: 1;
  border-radius: 12px;
  color: white;

  background-color: $orange-basic;
}

#account img {
  max-width: 36px;
  padding-right: 5px;
}

.product__text {
  padding: 0 20px;
  padding-bottom: 20px;
}

.product__company {
  color: rgb(238, 155, 0);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

.product__name {
  color: hsl(0, 0%, 0%);
  line-height: 33px;
  font-weight: 700;
  font-size: 28px;
}

.product__price-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product__price {
  color: black;
}
.product__price--old {
  color: hsl(220, 14%, 75%);
  text-decoration: line-through;
  font-size: 16px;
}

.product__discount {
  background-color: $orange-pale;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  color: $orange-basic;
  padding: 3px 8px;
}

.product__quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(223, 64%, 98%);
  height: 60px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 16px;
  color: black;
  margin: 15px 0;
}

.quantity__minus {
  padding: 20px;
  img {
    max-width: 16px;
    height: 4px;
    padding-bottom: 3px;
  }
}
.quantity__plus {
  padding: 20px;
  img {
    max-width: 16px;
    height: 12px;
  }
}

.product__add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $orange-basic;
  font-weight: 700;

  color: white;
  border-radius: 10px;
  cursor: pointer;

  .add-button__img {
    img {
      width: 5vw;
      max-width: 26px;
      height: 15px;
      filter: brightness(100);
    }
    padding-right: 15px;
  }
}
.product__add-button:hover,
.product__add-button:active {
  filter: brightness(120%);
  cursor: pointer;
}
.gallery__other-photos {
  display: none;
}
.product__gallery--fullSize{
  display: none;
}

.visible {
  display: block;
  // visibility: visible;
}
.invisible {
  display: none;
}

@media screen and (min-width: 768px) {
  
  .cart {
    position: relative;
  }
  .cart-info {
    position: absolute;
    max-width: 420px;
    left: -290px;
    top: 90px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
  }

  .toggledMenu {
    display: flex;
    position: static;
    flex-direction: row;
    background-color: white;
    width: auto;
    height: auto;
    padding: 0;

    img {
      padding-top: 5px;
      height: 15px;
      width: 4vw;
    }
  }
  .navigation__items {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
  }

  
  #company-name {
    width: 35vw;
    max-width: 200px;
    margin-right: 30px;
    img {
      height: 20px;
      width: 30vw;
      max-width: 200px;
    }
  }
  #menuBtn,
  #menuBtn2 {
    display: none;
  }

  header {
    
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(230, 222, 222);
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    min-height: 650px;
    height: calc(100% - 105px);

    
  }
  .product__gallery {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    max-width: 500px;
    height: 60vh;
  }

  .product__gallery--fullSize{
    display:none;
    position:absolute;
    z-index: 3;
 
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    max-width: 500px;
    height: 60vh;
  }
  .product__gallery--fullSize.active{
    display:flex;
  }
  .product__gallery--fullSize img {
    width: 40vw;
    max-width: 500px;
    border-radius: 12px;
    
  }

  
  .product__gallery img {
    width: 40vw;
    max-width: 500px;
    border-radius: 12px;
  }
  .product__text {
    width: 40vw;
    max-width: 450px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .product__price{
    margin-right: 15px;
  }
  .product__price--old{
    width:100%;
    margin-top: 0;
    margin-bottom:25px;
  }
  .product__price-info {
    width: 100%;
    justify-content: flex-start;
  }


  .product__quantity {
    max-width: 175px;
    margin-right: 15px;
    height: 50px;
  }
  .product__add-button {
    width:22vw;
    max-width: 250px;
    height: 50px;
  }

  .product__full-gallery{
    display: flex;

  }

  .gallery_leftBtn img,
  .gallery_rightBtn img {
    width: 8px;
    height: 12px;
    display: none;
  }

  .product__gallery--fullSize .gallery_leftBtn img,
  .product__gallery--fullSize .gallery_rightBtn img {
    width: 8px;
    height: 12px;
    display: block;
    position: absolute;
    

  }

  .gallery__other-photos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    img {
      width: 9.25vw;
      max-width: 100px;
      height: 10vw;
      max-height: 100px;
      border-radius: 12px;
    }
  }
  .gallery__other-photo.active{
    border-color: $orange-basic;
    border-width: 2px;
    border-style: solid;
    
    border-radius: 15px;
    img{
      opacity: 0.35;
    }
  }
  .gallery__other-photo.active2{
    border-color: $orange-basic;
    border-width: 2px;
    border-style: solid;
    
    border-radius: 15px;
    img{
      opacity: 0.35;
    }
  }

  .gallery__close-btn img{
    position: absolute;
    right: 0;
    top:-80px;
    width: 25px;
    height: 25px;
  }

  .navigation__item {
    padding: 40px 10px;
    font-weight: 400;
    color: hsl(219, 9%, 45%);

  }
  .navigation__item:hover,
  .navigation__item:active {
    color: black;
    border-bottom-style: solid;
    border-bottom-color: $orange-basic;
    border-bottom-width: 4px;
  }
  .header {
    justify-content: space-between;
    min-width: 80vw;
  }
  .header-left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
